@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #05224c;
  color: #ffffff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
  background: #001731;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #05224c;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 13px 0;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 40px;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 800px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 0;

  border-radius: 0px 0px;

  background: #05224c;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #ffffff;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
.header-title {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }
  .header-title {
    width: 40px;
    height: 40px;

    margin-right: 450px;
  }
  .header {
    width: 100%;

    height: 72px;
    padding: 16px 108px 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }

  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 28px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    display: flex;

    font-family: Open Sans;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    color: #e8c872;
    text-decoration: underline;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;
  padding: 514px 16px 0;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/hero_section.png");
}

.home-title {
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.home-text {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #e8c872;

  padding: 16px 0 40px;
}
.home__google-button_link {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 800px;
    padding: 440px 0 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/home/hero_section\ \(1\).png");
  }

  .home-title {
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .home-text {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 20px 0 44px;
    width: 600px;
    margin: auto;
  }
  .home__google-button_link {
    margin: 0;
  }
}
.about {
  padding: 60px 16px;
  margin: auto;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-title {
  font-family: Merriweather;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.about-text {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 40px 0 20px;
}
.about-img {
  width: 343px;
  height: 354px;
  border-radius: 8px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 120px 212px;
    margin: auto;
    width: 1440px;
    height: 591px;
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/about/Frame\ 453.png");
  }
  .about-title {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 599px;

    padding: 40px 0 0;
  }
  .about-img {
    width: 392px;
    height: 354px;
  }
}
.advantages {
  width: 375px;
  margin: auto;
  padding: 60px 43px 60px;
}

.advantages-list {
  padding-top: 40px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 288px;
}
.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
  height: 354px;
  background: #daedff;

  border-radius: 12px;
}
.advantages-item-img {
  width: 288px;
  height: 192px;

  border-radius: 8px 8px 0px 0px;
}
.advantages-text-bold {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #e8c872;
  width: 272px;
  height: 36px;
  padding: 6px 0px 6px 0px;
  border-radius: 8px;
  background: #05224c;
  margin: auto;
  margin-top: -20px;
}
.advantages-text {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
  padding: 24px;
}

@media screen and (min-width: 1200px) {
  .advantages {
    width: 1440px;
    height: 1223px;
    padding: 130px 108px 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/advantages/Frame\ 454.png");
  }
  .advantages-title {
    text-align: start;
  }
  .advantages-list {
    padding-top: 80px;
    gap: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
  }
  .advantages-text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #000000;
    padding: 24px;
  }
}

.gallery {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
  background: #001731;
}
.gallery-title-text {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 16px;
}
.gallery-list {
  width: 343px;
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.gallery-item {
  width: 343px;

  display: flex;
  gap: 16px;
  align-items: center;
}
.gallery-img {
  width: 60px;
  height: 60px;
}
.gallery-text-bold {
  color: #e8c872;

  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.gallery-text {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 8px;
}
.gallery-bottom {
  display: none;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    margin: auto;
    padding: 120px 108px 120px 0;
  }
  .gallery-title {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 108px;
  }
  .gallery-title-text {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 108px;
    padding-top: 16px;
    width: 709px;
  }
  .gallery-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
    padding-top: 56px;
    align-items: center;
    justify-content: start;
  }
  .gallery-list {
    width: auto;
    padding-top: 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
  }

  .gallery-item {
    width: 496px;

    display: flex;
    gap: 16px;
  }
  .gallery-item-two {
    margin-left: 208px;
  }
  .gallery-bottom {
    display: flex;
    align-items: center;
  }
  .gallery-text-bold {
    color: #e8c872;

    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .gallery-text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .gallery-bottom-img {
    width: 604px;
    height: 544px;
  }
}
.play {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
  background: #001731;
}

.play-list {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}
.play-item {
  width: 343px;
  height: 228px;
  padding: 24px;
  border-radius: 8px;
  background: #daedff;
  box-shadow: 0px 0px 20px 0px #1c27481f;
  margin: 0 10px;
}
.play-text {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
  height: 88px;
}
.play-item-bottom {
  display: flex;
  gap: 16px;
  padding-top: 24px;
}
.play-text-bold {
  color: #000000;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 8px;
  padding-left: 4px;
}

@media screen and (min-width: 1200px) {
  .play {
    width: 1440px;
    height: 641px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/play/reviews.png");

    margin: auto;

    padding: 120px 108px 0;
  }

  .play-list {
    padding: 80px 32px;
    margin: auto;
    width: 1000px;
  }
  .play-item {
    width: 392px;
    height: 228px;
    padding: 24px;
    border-radius: 8px;
    background: #daedff;
    box-shadow: 0px 0px 20px 0px #1c27481f;
    margin: 0 10px;
  }
  .play-text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    height: 96px;
  }
  .play-item-bottom {
    display: flex;
    gap: 16px;
    padding-top: 24px;
  }
  .play-text-bold {
    color: #000000;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 8px;
    padding-left: 4px;
  }
}
.gallery-main {
  width: 375px;
  margin: auto;
  padding: 60px 0 60px 16px;
}
.gallery-main-title {
  text-align: start;
}
.gallery-main-list {
  padding-top: 40px;
  margin: auto;
}
.gallery-main-item {
  width: 254px;
  height: 184px;

  margin: 0 10px;
}
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-button-container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery-main {
    width: 1440px;
    margin: auto;
    padding: 120px 108px;
  }
  .gallery-main-container {
    display: flex;
    justify-content: space-between;
  }
  .gallery-main-item {
    width: 392px;
    height: 225px;

    margin: 0 10px;
  }
  .gallery-main-list {
    padding-top: 80px;
    margin: auto;
  }
  .gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
  }

  .gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
    width: 42px;
    height: 24px;
  }

  .gallery-button:hover {
    scale: 120%;
  }

  .button-visible {
    display: none !important;
  }

  .gallery-button-icon {
    width: 42px;
    height: 24px;
  }
}

.footer {
  color: #fff;
  width: 375px;
  height: 194px;
  background: #001731;

  padding: 40px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 90px;
}
.footer-text {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 24px;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 1440px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 24px;
  }
  .footer-text {
    font-family: Open Sans;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 60px;
  }
}
.policy-terms {
  flex-direction: column;
  align-items: start;
  padding: 114px 15px 51px;
}

.policy-terms-title {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Merriweather;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.policy-terms-text {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;

  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #7ac6ff;
}
@media screen and (min-width: 1200px) {
  .policy-terms {
    flex-direction: column;
    align-items: start;
    padding: 157px 212px 100px;
    width: 1440px;
    margin: auto;
  }

  .policy-terms-title {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    padding-top: 40px;

    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-texts {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    padding-left: 25px;

    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
